
header{
    background-color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.logo-f{
    padding: 20px;
}
.menu{
    cursor: pointer;
}

.container-f{
    width: 100%;
    background-color: white !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.search-f{
    display: flex;
    margin-left: 20px;
}
.search-box-f{
    border: 1px solid black;
    width: 30rem;
    height: 35px;
    font-size: 15px;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.catagory-btn-f{
    width: 110px;
    height: 35px;
    font-size: 20px;
    padding: 5px;
    background-color: white;
    font-size: 12px;
}

.search-btn-f{
    border: none;
    width: 50px;
    height: 35px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(102.68deg, #B07908 31.59%, #F4E377 95.22%);

}
.search-box-f:focus{
   
    outline: none;
}
.search-btn-f i{
    font-size: 20px;
    color: black !important;
    z-index: 1;
}
.region-btn-f{
    width: 75px;
    height: 35px;
    padding: 5px;
    background-color: white;
    font-size: 12px;
}
.socials-f a{
    text-decoration: none;
}
.socials-f i{
    color: black;
    font-size: 25px;
    padding: 10px;
}
.msg i {
    color: white !important;
    background-color: none !important;
}
.region-f{
    gap: 1em;
}
.log-buttons-f{
    padding: 20px;
}
.login-f{
    width: 75px;
    height: 35px;
    color: white;
    background: linear-gradient(102.68deg, #B07908 31.59%, #F4E377 95.22%), #C4C4C4;
    border-radius: 80px;
}
.signup-f{
    width: 95px;
    height: 35px;
    color: black;
    background: white;
    border-radius: 80px;
}
.insta i{
    color: black !important;
}
.socials-f{
    display: flex;
    justify-content: space-around;
    text-align: center;

}
.socials-f h5{
    display: inline-block;
    padding: 4px;
    color: black;
}
.gsd{
    padding: 10px;
    margin:  5px;

    margin-left: 12px;
    display: inline-block;
}
.circle img{
    display: inline-block;
    margin-top: 5px;
    width: 50px;
    height: 30px;
}
.Services{
    /*margin: 10px;*/

    background-color: #313131;
}
.body-sub{
    display: flex;
    justify-content: space-around;
    background-color: #313131;
    padding-left: 0;
    padding-right: 0;
}

.slide-bar{
    background-color: #626262;
    margin-bottom: 10px;
     padding: 13px;
}
.slide-bar a{
    text-decoration: none;
}
.slide-bar  .icon-header{
    border: 1px solid #beaf96;
    padding: 10px;
   
}
.slide-bar div{
    /*border: 1px solid black;*/
}
.slide-bar i {
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
}
.slide-bar h4{
    display: flex;
    justify-content: center;
    color: #fff;
}

.img-header{
    width: 100%;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.img-header .top-images img{
    margin: 10px;
}
.set{
    display: inline-block;
}
.percent{
    display: inline-block;
}
.set i{
    font-size: 3rem !important;
    font-weight: bold;
    position: absolute;
}
.percent h2{
    position: relative;
    font-weight: bold;
    color: gray;
    text-align: center;
    top: 0.9rem;
    left: 5px;
    bottom: 0rem;
    color: gray;
    font-size: 1.7rem;
}

/*caaasd*/

.most-popular-items {
    text-align: center;
    background-color: #313131;
}

.item-card {
    display: grid;
    grid-template-rows: auto auto auto;
    width: 290px;
    height: 317px;
    background-color: white;
    margin-top: 41px;
    margin-right: 27px;
    margin-bottom: 60px;
    border-radius: 10px;
}

.item-image {
    width: 290px;
    height: 234px;
    padding-top: 28px;
    text-align: center;
}

.item-data {
    display: grid;
    grid-template-columns: auto auto;
    /*padding-left: 18px;*/
    text-align: center;
}

.rating-display {
    text-align: center;
}

.friday{
    display: flex;
    justify-content: space-around;
}
.friday img{
    width: 100%;
}
.Singapore-btn{
    padding: 10px;
     background-image: linear-gradient(to right, rgba(176,121,8), rgba(231,206,97));
    align-items: center;
    margin: auto 6rem;
    width: 15rem;
    border: none;
    border-radius: 8px;
}
.business{
    margin: auto 6rem;
    margin-bottom: 1rem;
    /*text-align: center;*/
}
.platform h2{
    margin: 3rem;
    /*margin-left: 1rem;*/
}
.paperwork img{
    margin-top: 2rem;
}
.register-main{
    background-color: #ebdcba;
    
}
.Register h2{
    margin-top: 5.3rem;
    color: #BA8A19;
}
.Register hr{
    width: 11rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    color: #BA8A19;
}
.side-icons{
    margin: 3rem;
}
.side-icons i{
    font-size: 1.5rem;
    padding: 2px;
}
.side-icons span{
    margin-left: 2rem;
    font-weight: bold;
}
.seller-main{
    display: flex;
    justify-content: baseline;
     background: linear-gradient(102.68deg, #B07908 31.59%, #F4E377 95.22%);
     padding: 1px;
}
.seller-main .seller{
    display: flex;
    align-items: flex-end;
}
.seller h1{
    position: relative;
    left: -5rem; 
    margin-bottom: 6rem;
    color: #fff;
}
.seller hr{
    justify-content: baseline;
    width: 50% !important;
    padding: 2px;
    background-image: linear-gradient(white, white);
    left: -5rem !important;
}

.cut-picture img{
    margin: 3rem auto;
}
.footer{
    height: 60vh;
    margin-bottom: 2rem;
    background: rgb(39, 39, 39);
}
.Footer-text{
    display: flex;
    height: 100%;
    align-items: center;
}
.footer li{
    list-style-type: none;
    margin: 8px auto;
}
.footer li a{
    text-decoration: none;
    color: #dddddd;
    font-size: 20px;
}
.last-img img{
    margin: 15px 15px;

}
.alert-main{
    width: 100%;
    position: fixed;
    bottom: -1rem;
}
.alert{

    background-color: #040404;
    color: #fff;
}
.btn-close{
    background-color: transparent; !important;
    color: #fff !important;
}
.btn-close:hover {
    background-color: transparent !important;
}
.alert-dismissible .btn-close{
    display: block;
    position: absolute;
    left: 10 !important;
    right: 97% !important;
    width: 6px !important;
    height: 1px !important;

}
@media screen and (max-width: 600px){
    .search-box-f{
        width: 10rem;
    }
}